{% extends 'base.html' %}

{% block content %}

<!-- main overall flex container - column aligned center -->
<div class="d-flex p-4 flex-column justify-content-center align-items-center bd-highlight mb-3">

    <!-- content flex container - row split into two cols-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="p-3 mb-3" style="width: 60rem; background-color: rgb(244, 207, 22);">

                    <h1>{% block title %} Edit Screenplay details for
                    <br><b>{{ screenplay.title }}</b> {% endblock %}</h1>
                    <hr>
                    <p>
                        <h5>Title is the only required field.</h5>  
                    </p>
                    <div class="card mb-3">
                        <div class="card-body" style="background-color: rgb(252, 238, 177);">

                            <!-- Create Screenplay form -->

                            <form method="post">

                                <label for="title"><h1>Title</h1></label>
                                <br>
                                <textarea name="title"
                                        placeholder="{{ screenplay.title }}"
                                        rows="1"
                                        cols="90"
                                        >{{ screenplay.title }}</textarea>
                                                                
                                <br>
                                <br>
                                <label for="logline"><h1>Logline</h1></label>
                                <br>
                                <textarea name="logline"
                                        placeholder="{{ screenplay.logline }}"
                                        rows="4"
                                        cols="90"
                                        >{{ screenplay.logline }}</textarea>
                                
                                <br>
                                <br>
                                <label for="dramatic_question"><h1>Dramatic Question</h1></label>
                                <br>
                                <textarea name="dramatic_question"
                                        placeholder="{{ screenplay.dramatic_question }}"
                                        rows="4"
                                        cols="90"
                                        >{{ screenplay.dramatic_question }}</textarea>
                                
                                <br>
                                <br>
                                <h1>
                                    Genre
                                </h1>
                                <br>
                                <label for="genre1">Genre 1: &nbsp;</label>
                                <input type="text" name="genre1"
                                value={{ screenplay.genre1 }}
                                placeholder="{{ screenplay.genre1 }}">
                            </input> &nbsp;
                            
                            <label for="genre2">Genre 2: &nbsp;</label>
                            <input type="text" name="genre2"
                                value={{ screenplay.genre2 }}
                                placeholder="{{ screenplay.genre2 }}">
                            </input> &nbsp;
                            
                            
                            <label for="genre3">Genre 3: &nbsp;</label>
                            <input type="text" name="genre3"
                                value={{ screenplay.genre3 }}
                                placeholder="{{ screenplay.genre3 }}">
                                </input>
                                                    
                                <br>
                                <br>
                                <br>
                                <h1>
                                    Narrative Type
                                </h1>
                                <br>
                                <label for="narrative_type">Select Narrative Type: &nbsp;</label>
                                <select id="narrative_type" name="narrative_type">
                                <option value={{ screenplay.narrative_type }} selected>{{ screenplay.narrative_type }}</option>
                                <option value="Tragedy">Tragedy</option>
                                <option value="Comedy">Comedy</option>
                                <!-- THIS PLACEHOLDER NEEDS TO DEFAULT TO THE LEGACY NARRATIVE TYPE -->
                                <option value="Hero's Journey">Hero's Journey</option>
                                <option value="Rags to Riches">Rags to Riches</option>
                                <option value="Rebirth">Rebirth</option>
                                <option value="Overcoming the Monster">Overcoming the Monster</option>
                                <option value="Voyage & Return">Voyage & Return</option>
                                </select>
                                
                                <br>
                                <br>
                                <label for="description"><h1>Description</h1></label>
                                <br>
                                <textarea name="description"
                                        placeholder="{{ screenplay.description }}"
                                        rows="10"
                                        cols="90"
                                        >{{ screenplay.description }}</textarea>
                                <br>
                                <br>
                                <button type="submit">+ Update Screenplay +</button>
                                </p>
                            </form>
                            
                        </div>
                    </div>    
                </div>
            </div>
            <div class="col">
                <p>
                    Menu buttons over here
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
