{% extends "base.html" %}

{% block content %}

<!-- main overall flex container - column aligned center -->
<div class="d-flex p-4 flex-column justify-content-center align-items-center bd-highlight mb-3">

    <div class="container">
        <div class="row">
            <div class="col-3 p-3">
                <p>
                    <strong>{{ screenplay.narrative_type }}</strong>
                </p>
                <ul style="list-style-type:none">
                    <li>
                        The Ordinary World
                    </li>
                    <li>
                        Call to Adventure
                    </li>
                    <li>
                        Refusal of the Call
                    </li>
                    <li>
                        Crossing the Threshold
                    </li>
                    <li>
                        Tests, Allies, & Enemies
                    </li>
                    <li>
                        The Approach
                    </li>
                    <li>
                        The Ordeal
                    </li>
                    <li>
                        The Reward
                    </li>
                    <li>
                        The Road Back
                    </li>
                    <li>
                        The Resurrection
                    </li>
                    <li>
                        The Return
                    </li>    
                </ul>
               
            </div>
            <div class="col-6">
                <div class="p-3 mb-3" style="width: 36rem; background-color: rgb(252, 238, 177);">
                    
                    <div class="d-flex justify-content-between">
                        <div>
                            <h5>SCREENPLAY OVERVIEW:</h5>                            
                        </div>
                        <div>
                            <!-- BUTTONS -->
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <!-- DELETE BUTTON -->
                                    <form method="POST" action="{{ url_for('delete', screenplay_id=screenplay.screenplay_id) }}">
                                        <div>
                                            <input type="image" name="submit" src="{{url_for('static',filename = 'icon_delete.gif')}}" onclick="return confirm('Are you sure you want to delete this entry?')" border="0" alt="Submit" style="height: 25px;" />
                                        </div>
                                    </form>
                                </div>
                                <div class="p-2">
                                    <!-- EDIT BUTTON -->
                                    <a href="{{ url_for('edit_screenplay', screenplay_id=screenplay.screenplay_id) }}">
                                        <image src="{{url_for('static',filename = 'icon_edit.gif')}}" height="25"></image>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1>
                        {% block title %} 
                        <b>{{ screenplay.title }}</b>
                        {% endblock %}
                    </h1>
                    <p>
                        <h5>by <a href="{{ url_for('user', username=current_user.username) }}">
                            {{ screenplay.author.username }}</a>
                        </h5>
                    </p>
                    <hr>
                    <div class="container">
                        <p style="text-align:center">
                            {{ screenplay.genre1 }} &nbsp; &nbsp; | &nbsp; &nbsp; {{ screenplay.genre2 }} &nbsp; &nbsp; | &nbsp; &nbsp; {{ screenplay.genre3 }}
                        </p>
                    </div>
                    <!-- show card for selected screenplay -->
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>LOGLINE</strong>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{ screenplay.logline }}</p>
                            <!-- <footer class="blockquote-footer">Scene Count: {{ screenplay.total_scenes }} &nbsp; &nbsp;| &nbsp; &nbsp;<cite title="Source Title">{{ screenplay.genre1 }}</cite></footer> -->
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>DRAMATIC QUESTION</strong>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{ screenplay.dramatic_question }}</p>
                            <!-- <footer class="blockquote-footer">Scene Count: {{ screenplay.total_scenes }} &nbsp; &nbsp;| &nbsp; &nbsp;<cite title="Source Title">{{ screenplay.genre1 }}</cite></footer> -->
                            </blockquote>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>DESCRIPTION</strong>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{ screenplay.description }}</p>
                            <!-- <footer class="blockquote-footer">Scene Count: {{ screenplay.total_scenes }} &nbsp; &nbsp;| &nbsp; &nbsp;<cite title="Source Title">{{ screenplay.genre1 }}</cite></footer> -->
                            </blockquote>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-3">
                <div class="p-3" style="width: 24rem;">
                    <!-- <a href="{{ url_for('edit_screenplay', screenplay_id=screenplay.screenplay_id) }}" class="btn btn-primary btn-lg mb-3" role="button">EDIT this Screenplay</a>
                    <br>
                    <button type="button" class="btn btn-secondary mb-3">DELETE this Screenplay</button>
                    <br> -->
                    <button type="button" class="btn btn-success btn-lg mb-3">VIEW SCENES</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
