{% extends "base.html" %}

{% block content %}

<!-- main overall flex container - column aligned center -->
<div class="d-flex p-4 flex-column justify-content-center align-items-center bd-highlight mb-3">

    <!-- content flex container - row split into three cols-->
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Screenplay notices -->
                <div style="width: 18rem;">
                    &nbsp;
                </div>

            </div>
            <div class="col">
                <div class="p-3 mb-3" style="width: 36rem; background-color: rgb(252, 238, 177);">

                    <h1>{% block title %}<b>{{ screenplay.title }}</b>
                        {% endblock %}</h1>
                    <hr>
                    <p>
                        <h5>by <a href="{{ url_for('user', username=current_user.username) }}">
                            {{ screenplay.author.username }}</a>
                        </h5>
                    </p>
                    
                    <!-- show card for selected screenplay -->
                    <div class="card mb-3">
                        <div class="card-header">
                            {{ screenplay.title }}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{ screenplay.description }}</p>
                            <!-- <footer class="blockquote-footer">{{ screenplay.author.username }} <cite title="Source Title">{{ screenplay.title }}</cite></footer> -->
                            </blockquote>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <p>
                    One of three columns
                </p>
                <p>
                    Menu buttons over here
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
