{% extends 'base.html' %}

{% block content %}

<!-- main overall flex container - column aligned center -->
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="p-3 mb-3" style="width: 60rem; background-color: rgb(244, 207, 22);">

        {% block title %}
        <h1>Edit Scene</h1>
        {% endblock %}
        <h5>
            <b><a href="{{ url_for('view_screenplay', screenplay_id=screenplay.screenplay_id) }}">{{ screenplay.title }}</a></b>
        </h5>
        <hr>
        <p>
            <h5>Slugline is the only required field.</h5>  
        </p>
        <div class="card mb-3">
            <div class="card-body" style="background-color: rgb(252, 238, 177);">

                <!-- Create Scene form -->
                <form method="post">

                    <label for="slugline"><h1>Slugline</h1></label>
                    <br>
                    <textarea name="slugline"
                            placeholder="{{ scene.slugline }}"
                            rows="1"
                            cols="90"
                            >{{ scene.slugline }}</textarea>
                                                    
                    <br>
                    <br>
                    <label for="content"><h1>Content</h1></label>
                    <br>
                    <textarea name="content"
                            placeholder="{{ scene.content }}"
                            rows="10"
                            cols="90"
                            >{{ scene.content }}</textarea>
                    
                    <br>
                    <br>
                    <label for="description"><h1>Description</h1></label>
                    <br>
                    <textarea name="description"
                            placeholder="{{ scene.description }}"
                            rows="4"
                            cols="90"
                            >{{ scene.description }}</textarea>
                    <br>
                    <br>
                    <button type="submit">+ Update Scene +</button>
                    </p>
                </form>
                
            </div>
        </div>    
    </div>

{% endblock %}
