{% extends "base.html" %}

{% block content %}

<div class="container d-flex w-100">
        
        <div class="col">

            {% include '/screenplay/overview.html' %}

        </div>
        <div class="col">
            <div class="p-3" style="width: 36rem;">
                
                <!-- BUTTONS -->
                <a href="{{ url_for('create_scene', screenplay_id=screenplay.screenplay_id) }}" class="btn btn-warning btn-lg mb-3" role="button">+ New Scene +</a>
                <h6>
                    <button type="button" class="btn btn-success btn-lg mb-3">VIEW SCENES</button>&nbsp; &nbsp; View Scenes __ thru __ (10 scenes max.)
                </h6>

                <!-- show card for each scene in this screenplay -->

                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5>
                                    <b>{{ scene.slugline }}</b>
                                </h5>
                            </div>
                            <div>
                                <!-- BUTTONS -->
                                <div class="d-flex flex-row-reverse">
                                    <div class="p-2">
                                        <!-- DELETE BUTTON -->
                                        <form method="POST" action="#">
                                            <div>
                                                <input type="image" name="submit" src="{{url_for('static',filename = 'icon_delete.gif')}}" onclick="return confirm('Are you sure you want to delete this entry?')" border="0" alt="Submit" style="height: 25px;" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="p-2">
                                        <!-- EDIT BUTTON -->
                                        <a href="#">
                                            <image src="{{url_for('static',filename = 'icon_edit.gif')}}" height="25"></image>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ scene.content }}</p>
                        </blockquote>
                    </div>
                </div>
                <br>

            </div>
        </div>
</div>

{% endblock %}
