{% extends "base.html" %}

{% block content %}

<!-- main overall flex container - column aligned center -->
<div class="d-flex p-4 flex-column justify-content-center align-items-center bd-highlight mb-3">

    <!-- content flex container - row split into three cols-->

    <div class="container">
        <div class="row">
            <div class="col-sm">
                &nbsp;
            </div>
            <div class="col-sm">
                <div class="p-3 mb-3" style="width: 36rem; background-color: rgb(209, 249, 214);">
                    
                    <h1>{% block title %}User Profile:<br><b>{{ user.username }}</b>{% endblock %}</h1>
                    <hr>
                    <p>
                        <h5>Your screenplays:</h5>
                    </p>
                    
                    <!-- show card for each screenplay by current user -->
                    {% for screenplay in screenplay %}
                    <div class="card mb-3">
                        <div class="card-header">

                            <!-- THIS NEEDS TO LINK TO THE SCREENPLAY -->
                            <b><a href="{{ url_for('view_screenplay', screenplay_id=screenplay.screenplay_id) }}">{{ screenplay.title }}</a></b>
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                            <p>{{ screenplay.description }}</p>
                            <footer class="blockquote-footer">{{ screenplay.author.username }} <cite title="Source Title">{{ screenplay.title }}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                    <p>
                        <a href="{{ url_for('edit_screenplay', screenplay_id=screenplay.screenplay_id) }}" class="btn btn-primary btn-sm mb-3" role="button">EDIT Screenplay</a>
                        &nbsp;
                        <button type="button" class="btn btn-secondary btn-sm mb-3">DELETE Screenplay</button>
                    </p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm">
                Menu buttons over here
            </div>
        </div>
    </div>

</div>
{% endblock %}
